dill~=0.3.8
numpy~=1.24.4
opencv-python~=4.8.1.78
Pillow~=10.2.0
matplotlib~=3.7.4
PyYAML~=6.0.1
rosbag~=1.16.0
catkin~=0.8.10
rospy~=1.16.0
genpy~=0.6.15
rosgraph~=1.16.0
tf~=1.13.2
roswtf~=1.16.0
roslib~=1.15.8
genmsg~=0.6.0
rospkg~=1.5.0
python-dateutil~=2.8.2
rosnode~=1.16.0
rosservice~=1.16.0
smach~=2.5.2
smclib~=1.8.6
empy~=3.3.2
roslz4~=1.16.0
netifaces~=0.10.4
roslaunch~=1.16.0
rostopic~=1.16.0
rosunit~=1.15.8
rostest~=1.16.0
rosmaster~=1.16.0
rosmsg~=1.16.0
psutil~=5.5.1
actionlib~=1.14.0
roscreate~=1.15.8
rosclean~=1.15.8
defusedxml~=0.6.0
pydot~=1.4.1
pip~=20.0.2
keyring~=18.0.1
future~=0.18.2
setuptools~=44.0.0
Cython~=0.29.14
pypylon~=2.2.0
torch~=2.2.0
scipy~=1.10.1
open3d~=0.18.0
wheel~=0.34.2
requests~=2.31.0
PyX~=0.15
wxPython~=4.0.7
ultralytics~=8.1.14
torchvision~=0.17.0